<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>A propos</title>
	<link rel="icon" href="img/B.jpg">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- animate CSS -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<!-- font awesome CSS -->
	<link rel="stylesheet" href="css/all.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<!-- flaticon CSS -->
	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/themify-icons.css">
	<!-- font awesome CSS -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- swiper CSS -->
	<link rel="stylesheet" href="css/slick.css">
	<!-- swiper CSS -->
	<link rel="stylesheet" href="css/price_rangs.css">
	<!-- style CSS -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-white">
	<!--::header part start::-->
	<header class="main_menu home_menu">
      <div class="container-fluid">
          <div class="row align-items-center justify-content-center">
              <div class="col-lg-11">
                  <nav class="navbar navbar-expand-lg navbar-light">
                      <a class="navbar-brand" href="index.html"> <img src="img/ki.png" width=100 height=100 alt="logo"> </a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse"
                          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                          <span class="menu_icon"><i class="fas fa-bars"></i></span>
                      </button>

                      <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                          <ul class="navbar-nav">
                              <li class="nav-item">
                                  <a class="nav-link" href="index.html">Accueil</a>
                              </li>
                              <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                      role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     Boutique
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                      <a class="dropdown-item" href="category.html"> catégorie boutique</a>
                                      
                                      
                                  </div>
                              </li>
                              <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                      role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      pages
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                      <a class="dropdown-item" href="login.html"> 
                                          login
                                          
                                      </a>
                                      <a class="dropdown-item" href="tracking.html">tsuivi(e)</a>
                                      <a class="dropdown-item" href="checkout.html">caisse de produit</a>
                                      <a class="dropdown-item" href="cart.html">Panier</a>
                                      <a class="dropdown-item" href="confirmation.html">confirmation</a>
                                  </div>
                              </li>
                              
                              <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                      role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      blog
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                      <a class="dropdown-item" href="blog.html"> blog</a>
                                  </div>
                              </li>
                              
                              <li class="nav-item">
                                  <a class="nav-link" href="contact.html">Contact</a>
                              </li>
                          </ul>
                      </div>
                      <div class="hearer_icon d-flex">
                          <div class="dropdown cart">
                              <a class="dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="ti-bag"></i>
                              </a>
                              <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <div class="single_product">
  
                                  </div>
                              </div> -->
                          </div>
                          <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
                      </div>
                  </nav>
              </div>
          </div>
      </div>
      <div class="search_input" id="search_input_box">
          <div class="container ">
              <form class="d-flex justify-content-between search-inner">
                  <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                  <button type="submit" class="btn"></button>
                  <span class="ti-close" id="close_search" title="Close Search"></span>
              </form>
          </div>
      </div>
  </header>
	<!-- Header part end-->
	
	<!--================Home Banner Area =================-->
	<!-- breadcrumb start-->
	<section class="breadcrumb breadcrumb_bg">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="breadcrumb_iner">
						<div class="breadcrumb_iner_item">
							<p>Accueil /A Propos</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- breadcrumb start-->

	<!-- Start Sample Area -->
	<section class="sample-text-area">
		<div class="container box_1170">
			<h3 class="text-heading">Qui suis-je?</h3>
			<p class="sample-text">
				Je m'appelle Mohammed Barkaoui, j'ai 22 ans, je suis étudiant de ULCO, j'aime bien les pierres précieuses et faire le commerces avec, 
                 En travaillant avec le meilleur équipement d'évaluation du marché, Pierres précieuses est reconnu en tant queMarchand de pierres précieuses à Calais  depuis 2020. En tant que revendeur agréé, nous achetons et vendons différents types de pierres précieuses, bijoux et métaux. Investir dans les métaux précieux est un excellent moyen de sauvegarder vos actifs, et ces dernières années, de plus en plus de clients nous ont sollicités dans ce but. Tous les clients obtiennent des tarifs justes chez Pierres précieuses,  et nous sommes fiers d’offrir le meilleur rapport qualité-prix. Pour de plus amples informations à propos de nos services, contactez-nous.

			</p>
		</div>
	</section>



	<!-- histoire-->
	<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<h3 class="mb-30">Midalt</h3>
				<div class="row">
					<div class="col-md-3">
						<img src="img/meda.jpeg" alt="" class="img-fluid">
					</div>
					<div class="col-md-9 mt-sm-20">
						<p>ç'est mon Mon premier lieu au creation de notre agence de vendre les pierres précieuses on investit avec plusieur autre agence à l'interieur et l'extérieur au Maroc  </p>
					</div>
				</div>
			</div>
			<div class="section-top-border text-right">
				<h3 class="mb-30">Calais</h3>
				<div class="row">
					<div class="col-md-9">
						<p class="text-right">
						<p class="text-right"> on vient d'ouvrir notre premieur agence en France plus précisement à Calais, c'était le 15 avril 2020</p>
					</div>
					<div class="col-md-3">
						<img src="img/el.jpeg" alt="" class="img-fluid">
					</div>
				</div>
			</div> 
         
		
				<div class="col-lg-3 col-md-4 mt-sm-30">
					
								
					
							</div>
						</div>
						<div class="switch-wrap d-flex justify-content-between">
							
							<div class="primary-radio">
								
							</div>
						</div>
						<div class="switch-wrap d-flex justify-content-between">
							
							<div class="confirm-radio">
								
							</div>
						</div>
						<div class="switch-wrap d-flex justify-content-between">
							
							<div class="disabled-radio">
								
							</div>
						</div>
						<div class="switch-wrap d-flex justify-content-between">
							
							<div class="disabled-radio">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- End Align Area -->

	<!-- subscribe_area part start-->
	<section class="instagram_photo">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="instagram_photo_iner">
						<div class="single_instgram_photo">
							<img src="img/instagram/inst_1.png" alt="error">
							<a href="#"><i class="ti-instagram"></i></a> 
						</div>
						<div class="single_instgram_photo">
							<img src="img/instagram/inst_2.png" alt="error">
							<a href="#"><i class="ti-instagram"></i></a> 
						</div>
						<div class="single_instgram_photo">
							<img src="img/instagram/inst_3.png" alt="error">
							<a href="#"><i class="ti-instagram"></i></a> 
						</div>
						<div class="single_instgram_photo">
							<img src="img/instagram/inst_4.png"  width="500" height="265" alt="error">
							<a href="#"><i class="ti-instagram"></i></a> 
						</div>
						<div class="single_instgram_photo">
							<img src="img/instagram/inst_5.png" alt="error">
							<a href="#"><i class="ti-instagram"></i></a> 
						</div>
					</div>
				</div>
			</div>
		</div>
	  </section>
	  <!--::subscribe_area part end::-->
	
	   <!--::footer_part start££££££££££££££££££££££££££££££££££££££££££££££££££££££££££££££££££££££££££££££::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Catégorie</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Moins chère</a></li>
                            <li><a href="#">Plus chère</a></li>
                            <li><a href="#">Mode</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Compagnie</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html">A propos</a></li>
                            <li><a href="">News</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Address</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Calais France</a></li>
                            <li><a href="#">+33 614864007</a></li>
                            <li><span>barkaouimed1997@gmail.com</span></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a href="#">Midalt Maroc</a></li>
                            <li><a href="#">+212 97110907</a></li>
                            <li><span>barkaouimed1997@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>Bulletin</h4>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="subscribe_form relative mail_part">
                                <input type="email" name="email" id="newsletter-form-email" placeholder="votre gmail"
                                    class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = ' Email Address '">
                                <button type="submit" name="submit" id="newsletter-submit"
                                    class="email_icon newsletter-submit button-contactForm">souscrire</button>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                        <div class="social_icon">
                            <a href="https://www.facebook.com/mohammed.barkaoui.7146"><i class="ti-facebook"></i></a>
                            <a href="https://twitter.com/MohammedBARKAO2"><i class="ti-twitter-alt"></i></a>
                           <a href="https://www.linkedin.com/in/mohammed-barkaoui-122b81194/" class="li"><i class="ti-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="copyright_text">
                        <P><!---->
            </script> All rights reserved, créer par BARKAOUI </a>
  <!--::footer_part end::-->

  <!-- jquery plugins here-->
  <script src="js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="js/lightslider.min.js"></script>
  <!-- swiper js -->
  <script src="js/mixitup.min.js"></script>
  <script src="js/lightslider.min.js"></script>
  <!-- particles js -->
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="js/slick.min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/contact.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/jquery.form.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/mail-script.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
</body>

</html>