<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog</title>
    <link rel="icon" href="img/B.jpg">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/price_rangs.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-white">
    <!--::header part start::-->
    <header class="main_menu home_menu"> 
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-11">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html"> <img src="img/ki.png" width=100 height=100 alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">Accueil</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Boutique
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="category.html"> catégorie boutique</a>
                                       
                                        
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="login.html"> login </a>
                                        <a class="dropdown-item" href="tracking.html">suivi(e)</a>
                                        <a class="dropdown-item" href="checkout.html">caisse de produit</a>
                                        <a class="dropdown-item" href="cart.html">Panier</a>
                                        <a class="dropdown-item" href="confirmation.html">confirmation</a>
                                    </div>
                                </li>
                                
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        blog
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="blog.html"> Blog</a>
                                    </div>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex">
                            <div class="dropdown cart">
                                <a class="dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-bag"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="single_product">
    
                                    </div>
                                </div> 
                            </div>
                            <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search_input" placeholder="Chercher ici">
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>
    <!-- Header part end-->
    
    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <p>Accueil / blog</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Blog Area =================-->
    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/bloge7.jpg" whith="50" alt="error">
                                <a href="#" class="blog_item_date">
                                    <h3>1</h3>
                                    <p></p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Les livres</h2>
                                </a>
                                <p>Depuis quelques années, le monde de l’édition connait certaines difficultés avec l’essor des ebooks et de la lecture numérique. Mais, rien ne pourra cependant égaler la sensation du papier entre les mains ou encore la majesté d’une belle reliure. Les gens redécouvrent donc désormais les vertus des livres physiques. Certains exemplaires se distinguent d’ailleurs par une belle valeur marchande qui s'ajoute à leur valeur littéraire. Voici les livres les plus chers jamais vendus.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-user"></i> Voyage,</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> 03 Commentaires</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/bloge8.jpg" alt="error">
                                <a href="#" class="blog_item_date">
                                    <h3>2</h3>
                                    <p></p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>First Folio, William Shakespeare</h2>
                                </a>
                                <p>Les Comédies, histoires et tragédies de M. William Shakespeare ou tout simplement The First (Le Premier Folio) est une collection de pièces de Shakespeare imprimée en 1623, sept ans après sa mort. Des 750 exemplaires originaux, il n’en reste plus qu’environ 228 aujourd’hui. Considérée comme l’œuvre la plus durable de la littérature anglaise, les exemplaires restants comptent parmi les livres les plus recherchés par les collectionneurs du monde entier. Paul Allen, cofondateur de Microsoft et lecteur vorace, a dépensé 5,6 millions d’euros pour en posséder un en 2001</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/blog10.jpeg" alt="error">
                                <a href="#" class="blog_item_date">
                                    <h3>3</h3>
                                    <p></p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Le Bay Psalm Book</h2>
                                </a>
                                <p>Le Bay Psalm Book (« psautier de la baie ») est célèbre pour être le premier livre à avoir été imprimé en Amérique du Nord britannique, en 1640, à Cambridge, Massachusetts. On dit qu’il n’en reste qu’onze exemplaires à l’heure actuelle, l’un d’eux ayant été vendu en 2013 pour 13,4 millions d’euros.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-user"></i> Ossi</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> bien</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/blog11.jpeg" alt="error">
                                <a href="#" class="blog_item_date">
                                    <h3>4</h3>
                                    <p></p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Vacheron Constantin</h2>
                                </a>
                                <p>Bien que fondée vingt ans après la toute première enseigne horlogère du monde, Vacheron Constantin est la plus ancienne à avoir existé sans que sa production ne soit jamais interrompue. Beaucoup d’autres fabricants historiques de montres mécaniques ont traversé des périodes d’inactivité ou ont été obligés de vendre leur marque avec l’essor de montres à quartz à moindre coût. Fondée en 1755 à Genève, Vacheron Constantin est réputée pour sa qualité exceptionnelle, son savoir-faire et ses prix haut de gamme. 
                                La marque suisse est à l’origine de la référence 57260, toujours considérée comme la montre la plus complexe jamais réalisée, totalisant 57 complications et 2 800 composants décorés. Conçue pour le 260e anniversaire de Vacheron Constantin, elle est évaluée à 8 millions d’euros, ce qui en fait le modèle le plus cher de son année.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-user"></i> chayma</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> ..</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/bloge12.jpg" alt="error">
                                <a href="#" class="blog_item_date">
                                    <h3>5</h3>
                                    <p></p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Ferdinand Berthoud</h2>
                                </a>
                                <p>Ferdinand Berthoud a ouvert son premier atelier à Paris en 1753. Berthoud n’était pas un simple horloger, il était avant tout un scientifique. Il a travaillé pour la marine française et est l’un des inventeurs du chronomètre marin, un mécanisme utilisé pour déterminer la position est-ouest d’un navire dans l’océan. 

                                La famille Berthoud a produit des montres et des chronomètres pendant plus d’un siècle avant de disparaître tragiquement en 1876 avec son héritier Charles-Auguste Berthoud. En 2015, toutefois, Ferdinand Berthoud a refait surface avec le lancement d’une nouvelle montre : le Chronomètre Ferdinand Berthoud FB1. Avec ce modèle, la société a fait renaître la marque éponyme en hommage au travail et à la vie de son fondateur. </p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-user"></i> piere</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i>OO</a></li>
                                </ul>
                            </div>
                        </article>

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Mot-clé de recherche'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">Chercher</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Catégorie</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Nourriture de restaurant</p>
                                        <p>(37)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Nouvelles de voyage</p>
                                        <p>(10)</p>
                                    </a>
                                </li>
                              
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Produit</p>
                                        <p>(11)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Inspiration</p>
                                        <p>21</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Soins de santé (21)</p>
                                        <p>09</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Post récent</h3>
                            <div class="media post_item">
                                <img src="img/post/post_1.png" alt="post">
                                <div class="media-body">
                                    <a href="">
                                        <h3>De la vie, vous étiez poisson </h3>
                                    </a>
                                    <p>12 janvier 2019</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_2.png" alt="post">
                                <div class="media-body">
                                    <a href="">
                                        <h3>The Amazing Hubble</h3>
                                    </a>
                                    <p>02 heure </p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_3.png" alt="post">
                                <div class="media-body">
                                    <a href="">
                                        <h3>Astronomie</h3>
                                    </a>
                                    <p>03 heure</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_4.png" alt="post">
                                <div class="media-body">
                                    <a href="">
                                        <h3>Télescope d'astéroïdes</h3>
                                    </a>
                                    <p>01 heure</p>
                                </div>
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">project</a>
                                </li>
                        
                                <li>
                                    <a href="#">voyage</a>
                                </li>
                                <li>
                                    <a href="#">restaurant</a>
                                </li>
                                <li>
                                    <a href="#">mode de vie</a>
                                </li>
                                <li>
                                    <a href="#">conception</a>
                                </li>
                                <li>
                                    <a href="#">illustration</a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title">Instagram Feeds</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="#">
                                        <img class="card-img rounded-0" src="img/blog/blog1.jpg" alt="error">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                       <img class="card-img rounded-0" src="img/blog/blog5.jpg" alt="error">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="card-img rounded-0" src="img/blog/blog3.jpg" alt="error">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="card-img rounded-0" src="img/blog/blog6.jpg" alt="error">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="card-img rounded-0" src="img/blog/blog2.jpg" alt="error">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="card-img rounded-0" src="img/blog/single_blog_2.png" alt="error">
                                    </a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>

                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">Subscribe</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area ====hhhhhhhhhhhhhhhhhhhhgkioiummmmmmmmmmmmmmmmmmmmmmmmmmmmm=============-->
 
    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Catégorie</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Moins chère</a></li>
                            <li><a href="#"> Plus chère</a></li>
                            <li><a href="#">Mode</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Compagnie</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html">A propos</a></li>
                            <li><a href="">News</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Address</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Calais France</a></li>
                            <li><a href="#">+33 614864007</a></li>
                            <li><span>barkaouimed1997@gmail.com</span></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a href="#">Midalt Maroc</a></li>
                            <li><a href="#">+212 97110907</a></li>
                            <li><span>barkaouimed1997@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>Bulletin</h4>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="subscribe_form relative mail_part">
                                <input type="email" name="email" id="newsletter-form-email" placeholder="votre gmail"
                                    class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = ' Email Address '">
                                <button type="submit" name="submit" id="newsletter-submit"
                                    class="email_icon newsletter-submit button-contactForm">souscrire</button>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                        <div class="social_icon">
                            <a href="https://www.facebook.com/mohammed.barkaoui.7146"><i class="ti-facebook"></i></a>
                            <a href="https://twitter.com/MohammedBARKAO2"><i class="ti-twitter-alt"></i></a>
                           <a href="https://www.linkedin.com/in/mohammed-barkaoui-122b81194/" class="li"><i class="ti-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="copyright_text">
                        <P><!---->
            </script> All rights reserved, créer par BARKAOUI </a>
  <!--::footer_part end::-->

  <!-- jquery plugins here-->
  <script src="js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="js/lightslider.min.js"></script>
  <!-- swiper js -->
  <script src="js/mixitup.min.js"></script>
  <script src="js/lightslider.min.js"></script>
  <!-- particles js -->
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="js/slick.min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/contact.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/jquery.form.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/mail-script.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
</body>

</html>